@keyframes xintiao {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}