@import url('./animate.scss');

body {
    font-size: 16px;
    color: unset;
}

p {
    margin: 0;
}

.public-tag {
    color: #fff;
    border-radius: 4px;
    height: 22px;
    display: inline-block;
    i {
        margin-right: 4px;
    }
    &::before {
        margin-right: 4px;
    }
}
.public-tag-top {
    margin-right: 24px;
}
.public-tag-vue {
    background-color:  #42b983;
}
.public-tag-css {
    background-color:  #ef8808;
}
.public-tag-javascript {
    background-color:  #87d068;
}
.public-tag-applets {
    background-color:  #108ee9;
}
.public-tag-vuepress {
    background-color:  #0a9f46;
}
.public-tag-info {
    background-color:  #8b8786;
}
.public-tag-music {
    background-color:  #e6a23c;
}
.public-tag-anecdote {
    background-color:  #25bbcb;
}
.public-tag-movie {
    background-color:  #8e44ad;
}
.public-tag-git {
    background-color:  #f50;
}
.public-tag-tool {
    background-color:  #d52104;
}

// 通知框样式
.ant-notification-notice {
    background: #3eaf7c;
    border-radius: 8px;
    .ant-notification-notice-message {
        color: #fff;
        margin: 0;
    }
    .ant-notification-notice-close {
        color: #fff;
    }
}

// 滚动条
.phone-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
}
.phone-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.phone-scrollbar::-webkit-scrollbar-thumb:vertical {
    border-right: 4px solid rgba(255, 255, 255, 0);
    height: 50px;
    background-color: rgba(144,147,153,0.5);
    background-clip: content-box;
    border-radius: 2px;
}
.phone-scrollbar::-webkit-scrollbar-thumb:horizontal {
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    width: 50px;
    background-color: rgba(144,147,153,0.5);;
    background-clip: content-box;
    border-radius: 2px;
}
.phone-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.phone-scrollbar::-webkit-scrollbar-button:end:increment,
.phone-scrollbar::-webkit-scrollbar-button:start:decrement {
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
}

// logo
.navbar {
    display: flex;
    align-items: center;
    .router-link-active.router-link-exact-active {
        display: flex;
        align-items: center;
        .logo {
            height: 1.4rem;
        }
    }
    .navbar-items a:hover, .navbar-items a.router-link-active {
        color: #fff;
    }
}